<div class="card my-5">
  <div class="card-body">
    <form class="form" (ngSubmit)="onSubmit()" #ownerCreate="ngForm">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" required maxlength="30" minlength="3" [(ngModel)]="owner.firstName"
               class="form-control"
               id="firstname"
               name="fname"
               placeholder="Enter owner's first name (min 3 max 30 Symbols)"
               >
      </div>

<!--      <div [hidden]="!name.pristine" class="alert alert-danger">First Name is required</div>-->
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" required maxlength="30" minlength="3" [(ngModel)]="owner.lastName"
               class="form-control"
               id="lastname"
               name="lname"
               placeholder="Enter owner's last name (min 3 max 30 Symbols)"
               >
<!--        <div [hidden]="!name.pristine" class="alert alert-danger">Last Name is required</div>-->
      </div>

      <button type="submit" [disabled]="!ownerCreate.form.valid"
              class="btn btn-success">Add</button>
    </form>
  </div>
</div>
