<div class="container">
  <div class="row my-0">
    <div class="col-md-12">
      <div class="card bg-light my-sm-n1">
        <div class="card-body" style="height: 10rem" >
          <h2 class="card-title text-center text-black py-sm-1">{{ title }}</h2>
          <ul class="text-center list-inline py-sm-1">
            <li class="list-inline-item">
              <a routerLink="/owners" class="btn btn-outline-success">Owners</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/devices" class="btn btn-outline-success">Devices</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
