<div class="border">
  <button (click)="open(content)" class="btn btn-md btn-outline-success">
    <i class="fa fa-user"></i>New Owner
  </button>
</div>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-light table-striped table-hover">
      <thead class="thead">
      <tr>
        <th scope="col" [appSort]="owners" data-order="desc" data-name="firstName" >FIRST NAME</th>
        <th scope="col" [appSort]="owners" data-order="desc" data-name="lastName">LAST NAME</th>
        <th scope="col" [appSort]="owners" data-order="desc" data-name="lastName" class="text-end">ACTIONS</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let owner of owners">
        <td>{{ owner.firstName }}</td>
        <td>{{ owner.lastName }}</td>
        <td class="text-end">
          <button (click)="openEdit(contentEdit, owner)" class="btn btn-outline-primary btn-sm">Edit</button>
          &nbsp;|&nbsp;
          <button (click)="openDelete(contentDelete, owner)" class="btn btn-outline-danger btn-sm">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Owner</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>FIRST NAME</label>
        <div class="input-group">
          <input class="form-control"
                 name="firstName"
                 #firstname="ngModel"
                 ngModel=""
                 required minlength="3" maxlength="30"
                 placeholder="Enter owner's first name (min 3 max 30 Symbols)">
        </div>
      </div>
      <div class="form-group">
        <label for="lastname">LAST NAME</label>
        <div class="input-group">
          <input ngModel="" required minlength="3" maxlength="30" id="lastName" name="lastName" class="form-control"
                 placeholder="Enter owner's first name (min 3 max 30 Symbols)">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-body">

    <div class="border text-center">
      <button type="submit" [disabled]="!f.form.valid" data-dismiss="modal" class="btn btn-outline-success"
              (click)="onSubmit(f)">Add
      </button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Update Owner's Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label>FIRST NAME</label>
        <div class="input-group">
          <input required minlength="3" maxlength="30" formControlName="firstName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">LAST NAME</label>
        <div class="input-group">
          <input required minlength="3" maxlength="30" formControlName="lastName" class="form-control">
        </div>
      </div>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-outline-success" (click)="onSave()" [disabled]="!editForm.valid">
          Save Changes
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5 class="alert-danger">Are you sure to delete the owner with all its devices?</h5>
    <div class="border text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>
