@import "~bootstrap/dist/css/bootstrap.css";

@import "~bootstrap/dist/css/bootstrap.css";

.border {
  padding: 10px;
}

.btn {
  margin-right: 10px;
}

.fa {
  margin-right: 10px;
}

table .btn {
  margin: 2px;
}
em{
  color: #e71515;
  font-weight: normal;
}

.ng-invalid.ng-touched{
  border-color: red;
}


