<div class="jumbotron">
    <div class="border">
        <button mat-raised-button (click)="open(content)">
            Add Owner
        </button>
    </div>
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName"> FIRST
                    NAME
                </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName"> LAST
                    NAME
                </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="actions" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="openEdit(contentEdit, element)"> Edit </button>
                    &nbsp;|&nbsp;
                    <button mat-raised-button color="warn" (click)="openDelete(contentDelete, element)"> Delete </button>
                    {{element.actions}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add Owner</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <mat-form [formGroup]="ownerForm" novalidate>
            <div class="form-group">
                <label>FIRST NAME</label>
                <div class="input-group">
                    <input formControlName="firstName" class="form-control" required maxlength="31">
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('firstName') && hasError('firstName', 'required')">First Name is
                        required</em>
                    <em *ngIf="validateControl('firstName') && hasError('firstName', 'maxlength')">Maximum allowed
                        length is 30 characters.</em>
                </div>
            </div>
            <div class="form-group">
                <label>LAST NAME</label>
                <div class="input-group">
                    <input formControlName="lastName" class="form-control" required maxlength="31">
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('lastName') && hasError('lastName', 'required')">Last Name is
                        required</em>
                    <em *ngIf="validateControl('lastName') && hasError('lastName', 'maxlength')">Maximum allowed length
                        is 30 characters.</em>
                </div>
            </div>
        </mat-form>
    </div>
    <div class="modal-body">

        <div class="border text-center">
            <button mat-raised-button color="accent" class="btn1" data-dismiss="modal" [disabled]="!ownerForm.valid"
                    (click)="onSubmit()">Add
            </button>
            <button mat-raised-button (click)="modal.close('Cancel click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #contentEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Update Owner's Data</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <mat-form [formGroup]="ownerForm" novalidate>
            <div class="form-group">
                <label>FIRST NAME</label>
                <div class="input-group">
                    <input formControlName="firstName" class="form-control" required maxlength="31">
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('firstName') && hasError('firstName', 'required')">First Name is
                        required</em>
                    <em *ngIf="validateControl('firstName') && hasError('firstName', 'maxlength')">Maximum allowed
                        length is 30 characters.</em>
                </div>
            </div>
            <div class="form-group">
                <label>LAST NAME</label>
                <div class="input-group">
                    <input formControlName="lastName" class="form-control" required maxlength="31">
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('lastName') && hasError('lastName', 'required')">Last Name is
                        required</em>
                    <em *ngIf="validateControl('lastName') && hasError('lastName', 'maxlength')">Maximum allowed length
                        is 30 characters.</em>
                </div>
            </div>
            <div class="border text-center">
                <button mat-raised-button color="accent" class="btn1" data-dismiss="modal" (click)="onSave()"
                        [disabled]="!ownerForm.valid">
                    Save Changes
                </button>
                <button mat-raised-button (click)="modal.close('Save click')">Cancel</button>
            </div>
        </mat-form>
    </div>
</ng-template>

<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="alert-danger">By deleting this owner you delete all its devices too!</h5>
        <div  class="border text-center">
            <button mat-raised-button color="warn" class="btn1"  data-dismiss="modal" (click)="onDelete()">Yes</button>
            <button mat-raised-button (click)="modal.close('Save click')">Cancel</button>
        </div>
    </div>
</ng-template>
