<div class="card my-5">
  <div class="card-body">
    <table class="table table-success table-striped">
      <thead class="thead-">
      <tr>
<!--        <th scope="col">ID</th>-->
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let owner of owners">
<!--        <td>{{ owner.id }}</td>-->
        <td>{{ owner.firstName }}</td>
        <td>{{ owner.lastName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
